@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";
@theme{
    --font-redhat: "Red Hat Display", sans-serif
}
body, html{
    font-family: "Red Hat Display", sans-serif;
    /* font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal; */
  }
@keyframes slide-in {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}

.animate-slide-in {
    animation: slide-in 0.3s ease-out;
}